opencv-python-headless==4.10.0.84
telethon==1.36.0
aiofiles>=24.1.0
apscheduler
aiohttp==3.12.0
asyncio==3.4.3
gTTS
dnspython==2.6.1
hachoir
heroku3
motor==3.4.0
pymongo==4.5.0
pillow==9.5.0
psutil
wget
qrcode
future==0.14.0
search_engine_parser
speedtest
py-tgcalls==1.2.9
MukeshAPI
ntgcalls==1.1.2
gitpython
pykeyboard
python-dotenv
pyyaml==6.0.2
tgcrypto
telegraph==2.2.0
lexica-api==1.5.9
httpx>=0.28.1
openai==1.41.0
lyricsgenius==3.0.0
spotipy
SafoneAPI
googlesearch-python
unidecode==1.3.8
#git+https://github.com/joetats/youtube_search@master
#git+https://github.com/alexmercerind/youtube-search-python@main
https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.23.zip
bing_image_downloader
yt-dlp
yt-search-py==1.0.0
youtube-search
youtube-search-python==1.6.6
py-yt-search
