opencv-python-headless==4.9.0.80
telethon==1.33.1
aiofiles
apscheduler
bard
pornhub-api==0.2.0
aiohttp==3.9.3
asyncio==3.4.3
beautifulsoup4
blackpink
deepai
pytube
dnspython==2.3.0
ffmpeg-python
gitpython
hachoir
Faker
pydub
pycountry
heroku3
motor==3.3.2
pillow==9.5.0
psutil
wget
pyfiglet
qrcode
pytz
future==0.18.3
search_engine_parser
py-tgcalls==1.2.9
ntgcalls==1.1.2
pykeyboard
pyshorteners
pyrofork 
python-dotenv
phonenumbers
pyyaml==6.0.1
requests
emojis
speedtest-cli
spotipy
tgcrypto
telegraph==2.2.0
unidecode
yt-dlp
#git+https://github.com/joetats/youtube_search@master
#git+https://github.com/alexmercerind/youtube-search-python@main
https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.23.zip
gtts
youtube_search
youtube-search-python
git+https://github.com/AsmSafone/SafoneAPI
lexica-api==1.4.7
httpx==0.25.2
gpytranslate
openai==0.28.0
mpv
moviepy
lyricsgenius
