API_ID=20950160
API_HASH=24c06eafb05962f12f2eb301c0f9d017
BOT_TOKEN=7643915863:AAEqo5PJCI1K13iJliOFr9epYkWTr3jywAM
MONGO_DB_URI=mongodb://anshganava4444:anshganava4444@cluster0-shard-00-00.4eott.mongodb.net:27017,cluster0-shard-00-01.4eott.mongodb.net:27017,cluster0-shard-00-02.4eott.mongodb.net:27017/?replicaSet=atlas-jkh5an-shard-0&ssl=true&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-1002035748224
OWNER_ID=5031182800
STRING_SESSION=BQE_rJAARKZYJGjHbpn2rpzGotfTrxcJRatVv9Vyyoe73JxV79TGr23Vx_CkXD3gu3xxnOnZlQQxYmuSc5_rebRn_-VrFo3ENJnamCjujEMNIiO2wK22UhOfeCQhoVtTEvUiDIn-WN7vvu9fJcDJSF1PjmldrAni2q2SifAv45LfDbgmEa1yabzDXnMwHD5mD1Bp2otTIeuLn3JYuIk0sIgoQVbyuEpDr5H7JwwzvBfQsLTc3JWyp_we9pKPhq3g1IIjbukydj7PWY7RYE5laH4JTPcFTqa6gWzb16hofTENO3vjCWDD8OKbXm2Knh4QNUGWtRYhS8Vswdia9NyyeD7HlKz7XAAAAAG2CFg5AA
